@{
    ViewData["Title"] = "Početna";
}




<div>
    <h1>Dobro došli u eSTATE®</h1>
    <p>
        Vaš saputnik, savjetnik i partner u procesu <br />
        prodaje ili pronalaska nekretnine po mjeri
    </p>
    <img src="https://i.imgur.com/aBCUJnR.jpg" />
</div>

<div>
    <p>
        Grad: @ViewBag.Grad
    </p>
    <p>
        Temperatura: @ViewBag.Temperatura °C
    </p>
</div>
