
@{
    ViewData["Title"] = "O nama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>O nama</h1>

<p>
    <b>eSTATE d.o.o. </b>je agencija za posredovanje u prodaji nekretnina sa inovativnim pristupom u ovom poslu. Imamo obučene agente koji će raditi na prodaji Vaše nekretnine i spremni smo ponuditi profesionalan i odgovoran pristup kako bismo premašili očekivanja svih naših klijenata. Naglašavamo naše umijeće u oglašavanju na društvenim mrežama i web portalima. Na kraju, naša upornost i aktivan rad sa kupcima su najbolja garancija uspjeha.
</p>

<p>
    <b>ZAŠTO eSTATE nekretnine?</b>
    <br />
    Poslovnica na jednoj od najprometnijih lokacija u gradu;
    Velika zastupljenost na olx.ba;
    Oglašavanje na društvenim mrežama;
    Visokoobučeni agenti sa višegodišnjim iskustvom u prodaji nekretnina;
    Maksimalna angažovanost tokom cjelokupnog procesa prodaje;
    Naši agenti Vas prate sve do isplate cjelokupne kupoprodajne cijene.
</p>

<p>
    <b>Kako eSTATE posluje:</b>
    <br />
    U dogovoru sa Vama u što kraćem vremenskom roku organizujemo izlazak na teren i slikamo Vašu nekretninu profesionalnom opremom;
    Analiziramo nekretninu na licu mjesta i dajemo Vam preporučenu cijenu oglašavanja;
    Sa nama se potpisuje Ugovor o posredovanju otvorenog tipa;
    U najkraćem mogućem roku organizujemo: obradu fotografija, pisanje i lektorisanje teksta, te Vašu nekretninu objavljujemo putem svih naših kanala oglašavanja;
    Aktivno nudimo nekretninu potencijalnim kupcima iz nase baze klijenata;
    Sa Vama smo u stalnom kontaktu tokom čitavog procesa prodaje, izlazimo na teren i pokazujemo Vašu nekretninu koliko god puta je to potrebno;
    Ukoliko se Vaša nekretnina proda kupcu kojeg smo mi doveli sa Vama u vezu, ostvarujemo pravo na proviziju;
    Sve do momenta realizacije, Vaši troškovi iznose 0 KM.
</p>